<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.todo.mapper.EventMapper" >

    <insert id="save" parameterType="com.nhnacademy.todo.domain.Event">
        insert into event set
                              user_id = #{userId},
                              subject = #{subject},
                              event_at = #{eventAt},
                              created_at = now()
        <selectKey keyProperty="id" resultType="Long">
            select last_insert_id()
        </selectKey>

    </insert>

    <select id="getEventById" resultType="com.nhnacademy.todo.domain.Event">
        SELECT user_id,subject,event_at
        FROM EVENT WHERE ID = #{id}
    </select>

    <select id="findAllByMonth" resultType="com.nhnacademy.todo.domain.Event">
        select id,user_id,subject,event_at from event where event_at like concat(#{day},'%')
    </select>

    <select id="findAllByDaily" resultType="com.nhnacademy.todo.domain.Event">
        select id,user_id,subject,event_at from event where event_at = #{day}
    </select>
</mapper>